@import '../../styles/variables';

.record {
    border-bottom-left-radius: 30px;
    width: 100px;
    height: 50px;
    button {
        font-size: 13px !important;
    }
}

.waiting {
    background-image: repeating-linear-gradient(
        -45deg,
        $accent,
        $accent 1rem,
        $black 1rem,
        $black 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
}

.recording {
    background-image: repeating-linear-gradient(
        -45deg,
        $error,
        $error 1rem,
        $black 1rem,
        $black 2rem
    );
    background-size: 200% 200%;
    animation: barberpole 10s linear infinite;
}

@keyframes barberpole {
    100% {
        background-position: 100% 100%;
    }
}

