<div class="record d-flex j-center a-center" [ngClass]="isRecording ? 'recording' : 'waiting'">
    <button
        *ngIf="!isRecording"
        style="width: 70%; height: 70%"
        (click)="toggleRecord()"
        class="btn error"
    >
        {{ isRecording ? 'complete' : 'record' }}
    </button>
    <button
        *ngIf="isRecording"
        style="width: 70%; height: 70%"
        (click)="toggleRecord()"
        class="btn accent"
    >
        {{ isRecording ? 'complete' : 'record' }}
    </button>
</div>
