<div class="d-flex d-col a-center">
    <h1>Screen to Gif 🦐</h1>
    <div style="max-width: 700px; width: 100%;" class="d-flex j-between">
        <select
            style="max-width: 200px; width: 100%"
            (ngModelChange)="selectSource()"
            [(ngModel)]="selectedSource"
        >
            <option *ngFor="let source of sources" [ngValue]="source">
                {{ source.name }}
            </option>
        </select>
        <button (click)="toggleRecording()" class="btn">{{ isRecording ? 'stop' : 'start' }}</button>
    </div>
    <video class="mt-1" style="max-width: 700px; width: 100%;" #vid></video>
</div>
