<div class="d-flex d-col a-center">
    <h1>Screen to Gif 🦐</h1>
    <div *ngIf="!isOverlaying" class="d-flex j-between">
        <select
            style="width: 150px"
            (ngModelChange)="selectSource()"
            [(ngModel)]="selectedSource"
        >
            <option *ngFor="let source of sources" [ngValue]="source">
                {{ source.name }}
            </option>
        </select>
        <button class="btn" (click)="openOverlay()">Select Area</button>
    </div>

    <h2>Preview</h2>
    <div class="preview">
        <video
            *ngIf="!canvas"
            class="mt-1"
            style="width: 100%; max-width: 700px"
            #previewVideo
        ></video>
        <canvas
            *ngIf="canvas"
            #canv
            [attr.width]="canvas.width"
            [attr.height]="canvas.height"
        ></canvas>
    </div>
</div>
<div style="width: 1px; height: 1px; overflow: hidden">
    <video class="mt-1 hidden" style="width: 1280px" #vid></video>
</div>
