<div
    class="overlay"
    [ngClass]="{ selecting: !isClickThrough,  color: !this.offset}"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="isDragging = false"
>
    <ng-container *ngIf="!isClickThrough">
        <button
            *ngIf="offset && !isDragging"
            class="btn accent select-btn"
            (click)="select()"
            (mousedown)="$event.stopPropagation()"
        >
            Select
        </button>
        <button
            class="btn error cancel-btn"
            (click)="cancel()"
            (mousedown)="$event.stopPropagation()"
        >
            cancel
        </button>
    </ng-container>
    <div
        *ngIf="offset"
        class="selection-box"
        [ngClass]="{ 'click-through': isClickThrough }"
        [ngStyle]="selectionBoxStyle()"
    ></div>
</div>
