<div
    class="overlay"
    [ngClass]="{ selecting: !isClickThrough,  color: !this.offset}"
    (mousedown)="onMouseDown($event)"
    (mousemove)="onMouseMove($event)"
    (mouseup)="onMouseUp($event)"
    (mouseleave)="isDragging = false"
>
    <ng-container *ngIf="!isClickThrough">
        <button
            *ngIf="offset && !isDragging"
            class="btn accent"
            style="
                position: absolute;
                right: 50%;
                transform: translateX(50%);
                width: 100px;
                z-index: 2;
            "
            (click)="select()"
            (mousedown)="$event.stopPropagation()"
        >
            Select
        </button>
        <button
            style="position: absolute; right: 10px; top: 10px; z-index: 2"
            class="btn error"
            (click)="cancel()"
            (mousedown)="$event.stopPropagation()"
        >
            cancel
        </button>
    </ng-container>
    <div
        *ngIf="offset"
        class="selection-box"
        [ngClass]="{ 'click-through': isClickThrough }"
        [ngStyle]="selectionBoxStyle()"
    ></div>
</div>
