@import '../../styles/variables';

.overlay {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
}

.selecting {
    outline: rgba($warn, 0.3);
    cursor: crosshair;
}

.selection-box {
    outline: 5px dashed $black;
    position: absolute;

    &.click-through {
        outline: 5px dashed $primary;
    }
}
